{% extends 'szablon.html' %}

<!DOCTYPE html>
<html lang="pl">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Koszyk</title>
    <link rel="stylesheet" href="{% static 'koszyk.css' %}">
</head>

<body>
    {% include 'navbar.html' %}

    {% block produkt %}
  <h2>Your Cart</h2>
  <ul>
    {% for item in cart_items %}
      <li class="pt-5">
        <img src="{{ item.book.image_url_s }}" width="70" height="90" alt="" class="katramka bg ">
        {{ item.book.book_title }}
        <button type="button" class="btn btn-primary">Wypożycz</button>

        <!-- {{ item.books.title }} - Quantity: {{ item.quantity }} - Price: ${{ item.get_item_total }} -->
      </li>
    {% endfor %}
  </ul>

  <h3>Add a Book</h3>

{% endblock %}
    <!-- <div class="container a" style="padding-top: 150px;">
        <h1 style="padding-bottom: 50px;">Koszyk</h1>

        <div class="produkty">
             Tutaj dodajemy produkty z koszyka 
            <div class="produkt">
                <img src="/media/images/book1.png" alt="Książka 1">
                <p>Nazwa Książki 1</p>
                <p>Cena: 29.99 PLN</p>
                <button class="usun">Usuń z koszyka</button>
            </div>

            <div class="produkt">
                <img src="/media/images/book.png" style="width: 100px; height: 120px;" alt="Książka 2">
                <p>Nazwa Książki 2</p>
                <p>Cena: 39.99 PLN</p>
                <button class="usun">Usuń z koszyka</button>
            </div>
        </div>

        <div class="podsumowanie">
            <h3>Podsumowanie</h3>
            <p>Liczba produktów: 2</p>
            <p>Łączna cena: 69.98 PLN</p>
            <button class="zamow">Zamów</button>
        </div>
    </div>
</body> -->

</html>