body {
  font-family: 'Arial', sans-serif;
}
.a{
  padding-top: 200px;
}
.container {
  padding-top: 200px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.produkty {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.produkt {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.produkt img {
  max-width: 100px;
  max-height: 150px;
}

.usun {
  background-color: #ff4040;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.podsumowanie {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.zamow {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}