body {
    background-color: #60d2d2;
    font-size: 15px;
    color: black;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: black;
}

.logo,
logo:hover,
logo:visited {
    width: 100px;
    height: 70px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    float: left;
}

.navbar-brand img {
    margin-right: 15px;
    margin-left: 15px;
    /* Ustaw odpowiedni margines między obrazem a tekstem */
}

.logo2 {
    float: left;
    margin-top: 25px;

}

.test {
    padding-top: 300px;
}

.koszyk {
    padding-left: 40px;
}


#cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 22px;
    height: 24px;
    border-radius: 50%;
    font-size: 14px;
}


.place_of_species {
    width: 220px;
    padding-top: 120px;
    padding-left: 20px;
    float: left;
}

.place_of_books {
    width: 1200px;
    padding-top: 120px;
    padding-left: 100px;
    float: left;
}



.btn-11 {
    position: relative;
    display: block;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    max-width: 250px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid currentColor;
  }

  .btn-11:after {
    box-sizing: border-box;
    transition: 0.4s ease-in-out;
  }
  .btn-11 i,em,b,strong,
  .btn-11 span 
  {
    transition: none;
  }
  .btn-11:after {
    z-index: -1;
  }
  .btn-11 {
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    text-align: center;
    background-color: #eeeeee;
  }
  
  .btn-11 *:before,

  .btn-11 *:after {
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
  }